@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}

.CostumesSection__running-text {
  font-family: Lato;
  font-size: 40px;
  letter-spacing: 0.045em;
  color: #ffffff;
  white-space: nowrap;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  @include small {
    font-size: 16px;
  }
}

.CostumesSection__running-image {
  width: 100%;
}

.CostumesSection__costumes {
  width: 100%;
  background: linear-gradient(
    92.91deg,
    #90c2b5 21.31%,
    rgba(205, 89, 112, 0.65) 92.41%
  );
}
