@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}



.ExplanationSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ExplanationSection__tree {
  width: 80%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  @include small {
    width: 100%;
    margin: 0 16px;
    padding-top: 16px;
  }
}

.ExplanationSection__leaf-container {
  width: 50%;

  @include small {
    width: 100%;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ExplanationSection__leaf-container--left {
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
}

.ExplanationSection__leaf-container--right {
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
}

.ExplanationSection__leaf {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 64px;

  h2 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-bottom: -100px;

  @include small {
    padding: 16px;
    margin: 0 8px;
    margin-bottom: 0;
  }
}

.ExplanationSection__leaf--left {
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  transform: translate(4px, 0);

  @include small {
    transform: translate(0, 0);
  }
}

.ExplanationSection__leaf--right {
  border-top-left-radius: 160px;
  border-bottom-right-radius: 160px;
  transform: translate(-4px, 0);

  @include small {
    transform: translate(0, 0);
  }
}

.ExplanationSection__leaf--que-prendre {
  background: linear-gradient(41.92deg,
      rgba(174, 216, 213, 0.7) 18.54%,
      rgba(74, 148, 202, 0.7) 73.98%);
  border-radius: 8px 426.959px 456.959px 606.959px;
  padding-top: 43px;
  width: calc(100% + 80px);
  flex-shrink: 0;
  transform: translate(80px, 0);
  padding-left: 128px;
  padding-bottom: 140px;
  padding-top: 70px;
  z-index: 1;

  @include small {
    transform: translate(0, 0);
    padding: 16px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 4px;
    margin-right: 0;
    z-index: 0;
  }
}

.ExplanationSection__leaf--surtout {
  width: 100%;
  background: linear-gradient(121.76deg,
      #29978c 30.88%,
      rgb(69 216 0 / 58%) 104.05%);
  border-radius: 326.959px 4px;
  padding-left: 83px;
  padding-top: 100px;
  padding-bottom: 180px;
  width: calc(100% + 192px);
  transform: translate(-220px, -100px);
  flex-shrink: 0;
  position: relative;

  @include small {
    padding: 16px;
    margin-bottom: 0;
    width: 100%;
    border-top-left-radius: 39px;
    border-bottom-right-radius: 110px;
    transform: translate(0px, 0px);
    margin-top: 40px;
  }
}

.ExplanationSection__leaf-container--right__tigre {
  position: absolute;
  top: -94px;
  right: 120px;
  width: 250px;

  @include small {
    right: 32px;
  }
}

.ExplanationSection__leaf--surtout h2 {
  margin-left: 160px;
  margin-bottom: 40px;

  @include small {
    margin-right: 0;
    margin-left: 0;
  }
}

.ExplanationSection__leaf--participe {
  width: 100%;
  background: linear-gradient(220.32deg,
      rgba(41, 151, 140, 0.7) -2%,
      rgb(65 76 159) 104.24%);
  border-radius: 4px 267.5px;
  padding-bottom: 100px;
  transform: translate(0, -145px);
  padding-top: 45px;
  flex-shrink: 0;

  @include small {
    padding: 16px;
    transform: translate(0, 0);
    border-top-right-radius: 137px;
    border-bottom-left-radius: 116px;
  }
}

.ExplanationSection__leaf--participe__shifted-text {
  margin-left: 50px;
}

.ExplanationSection__leaf--participe>p:first-child {
  font-weight: bold;
  margin-right: 180px;
}

.ExplanationSection__running-text {
  font-family: Lato;
  font-size: 40px;
  letter-spacing: 0.045em;
  color: #feffd7;
  white-space: nowrap;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.ExplanationSection__running-image {
  width: 100%;
}

.ExplanationSection__costumes {
  width: 100%;
  background: linear-gradient(92.91deg, #90C2B5 21.31%, rgba(205, 89, 112, 0.65) 92.41%);
}