@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}

.LineUpSection {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
}

.LineUpSection__content {
  width: 820px;
  margin: 32px 0;
  @include small {
    width: 100%;
  }
}

.LineUpSection__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.LineUpSection__background {
  width: 440px;
  height: 60vh;
  background: linear-gradient(
    230deg,
    #2da889,
    #612da8,
    rgb(35, 219, 28),
    rgb(255, 255, 255)
  );
  background-size: 400% 400%;
  animation: grad 10s ease infinite;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.LineUpSection__background__img {
  background-image: url("https://dg31sz3gwrwan.cloudfront.net/fanart/75402/224201-0-q80.jpg");
  mix-blend-mode: difference;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.LineUpSection__lineup {
  min-width: 820px;
  @include small {
    min-width: 100%;
  }
}

.LineUpSection__lineup__name {
  margin-bottom: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // font-weight: 100;
}

.LineUpSection__lineup__dj {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.LineUpSection__lineup__name__social {
  padding: 16px;
  width: 49px;
}
