@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.HomeSection {
  height: 100vh;
  background: linear-gradient(180deg, #baced6 0%, #ba9d67 100%);
  position: relative;
}

.HomeSection__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.HomeSection__image__bg {
  width: 1024px;
  height: 770px;
  background-image: url(/assets/logo-img.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeSection__image__logo__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 100.5%;
  /* identical to box height, or 121px */

  display: flex;
  align-items: center;

  color: #feffd7;
}

.HomeSection__image__logo__subtitle__item {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.045em;

  color: #feffd7;

  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.HomeSection__image__logo__subtitle {
  display: flex;
  justify-content: center;
}

.HomeSection__moving-text {
  position: absolute;
  bottom: -18px;
  font-family: Lato;
  font-size: 66px;
  letter-spacing: 0.045em;
  color: #feffd7;
  white-space: nowrap;
  width: 100%;
}

.HomeSectionAlternative__bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

.HomeSectionAlternative {
  height: 100vh;
  overflow: hidden;
}

.HomeSectionAlternative__moving-text {
  position: absolute;
  bottom: -6px;
  font-family: Lato;
  font-size: 40px;
  letter-spacing: 0.045em;
  color: #feffd7;
  white-space: nowrap;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.HomeSectionAlternative__bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeSectionAlternative__right-menu {
  margin-right: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.HomeSectionAlternative__right-menu__item {
  font-family: Lato;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #feffd7;
  font-size: 80px;
  text-transform: uppercase;
  text-align: right;
  &--logo {
    -webkit-text-stroke: 1px #feffd7;
  }
  &--underlined {
    position: relative;
    &::after {
      content: '';
      left: 0;
      position: absolute;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: #feffd7;
    }
  }
}

.HomeSectionAlternative__left-image {
  background-image: url(https://media.fabfab.net/images/products/popup/decor-velvet-premium-dark-jungle--16_1021570_655.jpg);
  background-size: cover;
  width: 440px;
  height: 60vh;
  background-position: center;
  margin-left: 96px;
  border-radius: 4px;
  mix-blend-mode: difference;
}

.HomeSectionAlternative__right-menu__item--logo {
  font-size: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// =================== TopMenu ===================
.TopMenu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.TopMenu__inner {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.TopMenu__item {
  margin-right: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: opacity ease-in-out 200ms;
  &:hover {
    opacity: 0.7;
  }
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.045em;

  color: #ffffff;
  &:last-child {
    margin-right: 0;
  }
}
