
@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}



.TopMenu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include small {
    display: none;
  }
  &.TopMenu--content {
    .TopMenu__item {
      color: #363636;
      &::after {
        background-color: #000;
      }
    }
  }
}

.TopMenu__inner {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.TopMenu__item {
  margin-right: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.045em;
  color: #ffffff;
  &:last-child {
    margin-right: 0;
  }
  @include small {
    font-size: 10px;  
  }
  position: relative;
  z-index: 1;
  &::after {
    transition: opacity ease-in-out 200ms;
    content: '';
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    box-sizing: border-box;
    transform: translate(-16px, 0);
  }
  &:hover {
    &::after {
      opacity: .1;
    }
  }
}
