@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}

body, html {
  font-family: Lato;
}


h2 {
  font-family: Lato;
  font-weight: 700;
  color: white;
  font-size: 32px;
  margin: 0;
}

p {
  font-family: Lato;
  font-weight: 100;
  color: white;
  font-size: 20px;
  margin: 0;
  line-height: 32px;
  @include small {
    font-weight: normal;
  }
}

a {
  color: white;
  font-family: Lato;
  font-weight: 100;
  line-height: 32px;
  @include small {
    font-weight: normal;
  }
}

ul {
  list-style: circle;
  padding-left: 26px;
}

li {
  font-family: Lato;
  font-weight: 100;
  @include small {
    font-weight: normal;
  }
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}


